.ipynb_checkpoints/retencao-UFRB-CCAAB-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CCS-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CECULT-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CETEC-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CETENS-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CFP-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CAHL-checkpoint.ipynb
.ipynb_checkpoints/longitudinal-checkpoint.ipynb
