.ipynb_checkpoints/retencao-UFRB-CCAAB-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CCS-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CECULT-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CETEC-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CETENS-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CFP-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-checkpoint.ipynb
.ipynb_checkpoints/retencao-UFRB-CAHL-checkpoint.ipynb
.ipynb_checkpoints/longitudinal-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CCS-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CECULT-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CETEC-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CETENS-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CFP-checkpoint.ipynb
.ipynb_checkpoints/Dropout-UFRB-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CCAAB-checkpoint.ipynb
.ipynb_checkpoints/Dropout-CAHL-checkpoint.ipynb
